@(restaurants: RestaurantList, form: Form[RestaurantForm.RestaurantsData], postUrl: Call)(implicit request: RequestHeader, messagesProvider: MessagesProvider)
@main("Welcome to qicaf1") {
<div class="container">
    <h1>Welcome to Qicaf1 !</h1>
    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
        @form.globalErrors.map { error: FormError =>
            <div>
                @error.key: @error.message
            </div>
        }
    }

    @helper.form(postUrl) {
        @helper.CSRF.formField
	<div>
		<h2>Restaurants</h2>
		<ul>
			<li>@helper.inputText(form("rest1"),'id -> "rest1", 'class -> "ui-state-default", 'placeholder -> "Please write name ...", '_label -> restaurants.rest1)</li>
			<li>@helper.inputText(form("rest2"),'id -> "rest2", 'class -> "ui-state-default", 'placeholder -> "Please write name ...", '_label -> restaurants.rest2)</li>
			<li>@helper.inputText(form("rest3"),'id -> "rest3", 'class -> "ui-state-default", 'placeholder -> "Please write name ...", '_label -> restaurants.rest3)</li>
			<li>@helper.inputText(form("rest4"),'id -> "rest4", 'class -> "ui-state-default", 'placeholder -> "Please write name ...", '_label -> restaurants.rest4)</li>
		</ul>
		<button>Choose</button>
	</div>
    }

    @* Flash shows updates to a page *@
    @request.flash.data.map{ case (name, value) =>
    <p class = "ui-state-default">@name: @value</p>
    }
</div>
}
